openapi: 3.2.0
info:
  title: PRED Trading Platform Web Socket API
  version: 1.0.0
  description: PRED uses Ably for real-time WebSocket data.
servers:
- url: https://testnet.pred.app
  description: Testnet (ENV-specific). Base Sepolia; chain ID 84532. Use with Testnet row in Environment configuration.
- url: https://www.pred.app
  description: Mainnet (ENV-specific). Base; chain ID 8453. Use with Mainnet row in Environment configuration.
tags:
- name: Websocket
  description: PRED uses Ably for real-time WebSocket data.
paths:
  /api/v1/auth/ably:
    post:
      tags:
      - Websocket
      summary: Get Ably WebSocket token
      description: 'Generate an Ably token for WebSocket connections. Returns raw Ably `TokenDetails` JSON (not wrapped).


        **Capabilities granted:**

        - `private:user:`: `[presence, subscribe]`

        - `market:*`: `[subscribe]`


        Use this token with Ably''s `authCallback` for token-based auth.'
      operationId: getAblyToken
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      responses:
        '200':
          description: Ably token generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AblyTokenDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Failed to authenticate with Ably
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
    AblyTokenDetails:
      type: object
      description: Raw Ably TokenDetails JSON (not wrapped in success/data envelope)
      properties:
        token:
          type: string
          description: Ably token string
        keyName:
          type: string
          description: Ably key name
        expires:
          type: integer
          format: int64
          description: Expiry time (milliseconds since Unix epoch)
        clientId:
          type: string
          description: Client ID bound to this token (user_id)
        issued:
          type: integer
          format: int64
          description: Issued time (milliseconds since Unix epoch)
        capability:
          type: string
          description: JSON-encoded Ably capability map
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
        message:
          type: string
        success:
          type: boolean
          default: false
  parameters:
    XWalletAddress:
      name: X-Wallet-Address
      in: header
      required: true
      description: Your EOA wallet address
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
    XProxyAddress:
      name: X-Proxy-Address
      in: header
      required: true
      description: Your proxy wallet address (from login response)
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
  responses:
    Unauthorized:
      description: Authentication required or failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token from login endpoint
