openapi: 3.2.0
info:
  title: PRED Trading Platform User API
  version: 1.0.0
  description: Safe approval endpoints for enabling trading on your proxy wallet.
servers:
- url: https://testnet.pred.app
  description: Testnet (ENV-specific). Base Sepolia; chain ID 84532. Use with Testnet row in Environment configuration.
- url: https://www.pred.app
  description: Mainnet (ENV-specific). Base; chain ID 8453. Use with Mainnet row in Environment configuration.
tags:
- name: User
  description: Safe approval endpoints for enabling trading on your proxy wallet.
paths:
  /api/v1/user/safe-approval/prepare:
    post:
      tags:
      - User
      summary: Prepare Safe approval transaction
      description: 'Prepare a Safe wallet approval transaction. Send `safe_wallet_address` = your `proxy_wallet_addr` from login; sign the returned `transactionHash` with raw secp256k1 (no EIP-191); then call execute with signature and data.


        See **Trading Enablement** section for full flow and mandatory re-login after execute.'
      operationId: prepareSafeApproval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareSafeApprovalRequest'
      responses:
        '200':
          description: Transaction data prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareSafeApprovalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/user/safe-approval/execute:
    post:
      tags:
      - User
      summary: Execute Safe approval transaction
      description: Execute with the raw secp256k1 signature of `transactionHash` from prepare. See **Trading Enablement** section for mandatory re-login after this call (required for order placement).
      operationId: executeSafeApproval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteSafeApprovalRequest'
      responses:
        '200':
          description: Approval executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecuteSafeApprovalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Transaction execution failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    PrepareSafeApprovalResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            data:
              $ref: '#/components/schemas/SafeTransactionData'
    ExecuteSafeApprovalRequest:
      type: object
      required:
      - signature
      - data
      properties:
        signature:
          type: string
          description: 'Raw secp256k1 signature of transactionHash from prepare response.

            Format: 0x<r><s><v> (132 hex chars). No EIP-191 prefix. Low-s normalized.

            '
          pattern: ^0x[a-fA-F0-9]{130}$
        data:
          $ref: '#/components/schemas/SafeTransactionData'
    SafeTransactionData:
      type: object
      properties:
        approvalAmount:
          type: string
        baseGas:
          type: string
        chainId:
          type: string
        data:
          type: string
        gasPrice:
          type: string
        gasToken:
          type: string
        nonce:
          type: string
        operation:
          type: integer
        refundReceiver:
          type: string
        safeAddress:
          type: string
          description: Proxy wallet address
        safeTxGas:
          type: string
        spenderAddress:
          type: string
        to:
          type: string
        tokenAddress:
          type: string
        transactionHash:
          type: string
          description: Hash to sign with raw secp256k1 (no EIP-191 prefix)
        value:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
    ExecuteSafeApprovalResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            is_enabled_trading:
              type: boolean
              description: 'Trading enabled status after Safe approval.

                **⚠️ Even when true here, you MUST call login-with-signature again to get a fresh JWT.**

                '
        message:
          type: string
        error:
          $ref: '#/components/schemas/Error'
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
        message:
          type: string
        success:
          type: boolean
          default: false
    PrepareSafeApprovalRequest:
      type: object
      required:
      - safe_wallet_address
      properties:
        safe_wallet_address:
          type: string
          description: Proxy wallet address from login response (proxy_wallet_addr)
          pattern: ^0x[a-fA-F0-9]{40}$
  responses:
    Unauthorized:
      description: Authentication required or failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token from login endpoint
