openapi: 3.2.0
info:
  title: PRED Trading Platform Orders API
  version: 1.0.0
  description: Order placement, cancellation, and management endpoints.
servers:
- url: https://testnet.pred.app
  description: Testnet (ENV-specific). Base Sepolia; chain ID 84532. Use with Testnet row in Environment configuration.
- url: https://www.pred.app
  description: Mainnet (ENV-specific). Base; chain ID 8453. Use with Mainnet row in Environment configuration.
tags:
- name: Orders
  description: Order placement, cancellation, and management endpoints.
paths:
  /api/v1/order/{parentMarketID}/place:
    post:
      tags:
      - Orders
      summary: Place a new order
      description: 'Place an order (limit, market, or IOC). Requires EIP-712 Order signature; see **Orders** section for domain, type hash, field meanings, and wei conversion.


        **Order types:** `limit` (resting), `market` (fill at best), `ioc` (immediate-or-cancel). **Expiration:** Unix seconds; `0` = GTC. **Idempotency:** `salt` is the key; same salt returns cached response.


        **Validation:** Price > 0, < 100, multiple of tick size; side long/short; quantity ≥ 5, at most 1 decimal; timestamp within 15s of server (seconds); fee_rate_bps = 0.'
      operationId: placeOrder
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      - $ref: '#/components/parameters/ParentMarketIDPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaceOrderRequest'
      responses:
        '202':
          description: Order accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Insufficient liquidity or self-match (when not allowed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/order/{parentMarketID}/cancel:
    delete:
      tags:
      - Orders
      summary: Cancel an order
      description: Cancel a single open order by order ID and market ID.
      operationId: cancelOrder
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      - $ref: '#/components/parameters/ParentMarketIDPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Order cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '202':
          description: Cancellation submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/v1/order/{parentMarketID}/cancel/all:
    delete:
      tags:
      - Orders
      summary: Cancel all orders for a parent market
      description: Cancel all open orders for a parent market. No request body required.
      operationId: cancelAllForParent
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      - $ref: '#/components/parameters/ParentMarketIDPath'
      responses:
        '200':
          description: All orders cancelled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '202':
          description: Cancellation submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/order/{parentMarketID}/cancel/bulk:
    delete:
      tags:
      - Orders
      summary: Bulk cancel orders for a parent market
      description: 'Cancel multiple orders for a parent market. Send an array of order references.

        If `orders` is empty, the backend fetches all open orders for this parent and cancels them.'
      operationId: cancelOrdersBulk
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      - $ref: '#/components/parameters/ParentMarketIDPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCancelOrdersRequest'
      responses:
        '200':
          description: Bulk cancel completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCancelOrdersResponse'
        '202':
          description: Bulk cancel submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCancelOrdersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/order/{parentMarketID}/open-orders:
    get:
      tags:
      - Orders
      summary: Get open orders for a parent market (recommended)
      description: 'Returns all open orders scoped to a specific parent market.


        **Recommended:** Use this endpoint for fetching open orders. It returns real-time data directly from the order service with no delay. Prefer this over `GET /api/v1/portfolio/open-orders` for accurate, up-to-date order state.'
      operationId: getOpenOrdersForParent
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      - $ref: '#/components/parameters/ParentMarketIDPath'
      responses:
        '200':
          description: Open orders for parent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenOrdersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v1/order/{parentMarketID}/orderbook/{marketID}:
    get:
      tags:
      - Orders
      summary: Get order book for a market
      description: 'Retrieve the order book (bids and asks) for a specific market.

        Prices are in **cents**, sizes are in **shares**.'
      operationId: getOrderBook
      parameters:
      - $ref: '#/components/parameters/XWalletAddress'
      - $ref: '#/components/parameters/XProxyAddress'
      - $ref: '#/components/parameters/ParentMarketIDPath'
      - name: marketID
        in: path
        required: true
        description: Market ID (bytes32 hex). See **Market Discovery** for what market_id is and how to get it (e.g. from GET /api/v1/market-discovery/discover).
        schema:
          type: string
          pattern: ^0x[a-fA-F0-9]{64}$
      - name: depth
        in: query
        required: false
        description: Order book depth (1–100). Default 20.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: include_metadata
        in: query
        required: false
        description: Include orderbook metadata (e.g. spread, mid price, cross_matching_enabled). Default true.
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Order book retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderBookResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Market not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    OpenOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OpenOrder'
    BulkCancelOrdersResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              order_id:
                type: string
              status:
                type: string
              message:
                type: string
        total_requested:
          type: integer
        total_unique:
          type: integer
        total_cancelled:
          type: integer
        total_failed:
          type: integer
    OrderResponse:
      type: object
      description: Place order response. See status enum for meanings.
      properties:
        status:
          type: string
          enum:
          - order_created
          - matched
          - partial_matched
          - open_order
          - failed
          description: 'order_created — accepted

            matched — fully filled

            partial_matched — partially filled

            open_order — resting

            failed — placement failed

            '
        order_id:
          type: string
          description: Unique order ID
        message:
          type: string
    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
        message:
          type: string
        success:
          type: boolean
          default: false
    OpenOrder:
      type: object
      properties:
        order_id:
          type: string
        market_id:
          type: string
        market_name:
          type: string
        parent_market_id:
          type: string
        side:
          type: string
          enum:
          - long
          - short
        price:
          type: string
          description: Price in cents
        quantity:
          type: string
          description: Original quantity in shares
        remaining_quantity:
          type: string
          description: Remaining quantity in shares
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: string
    BulkCancelOrdersRequest:
      type: object
      properties:
        orders:
          type: array
          description: Orders to cancel. If empty, cancels all open orders for the parent market.
          items:
            type: object
            required:
            - order_id
            properties:
              order_id:
                type: string
              market_id:
                type: string
    PlaceOrderRequest:
      type: object
      required:
      - salt
      - market_id
      - side
      - price
      - quantity
      - signature
      - timestamp
      properties:
        salt:
          type: string
          description: Unique salt for order (idempotency key). Use '02' + 10-digit random number.
        user_id:
          type: string
          description: User ID; filled from JWT if omitted.
        market_id:
          type: string
          description: Market ID (bytes32 hex / questionId). See **Market Discovery** for what market_id is and how to get it (e.g. from GET /api/v1/market-discovery/discover).
          pattern: ^0x[a-fA-F0-9]{64}$
        side:
          type: string
          enum:
          - long
          - short
          description: 'Order side: long = YES exposure, short = NO exposure'
        token_id:
          type: string
          description: Optional. Not used by order-service; omit or leave empty.
        price:
          type: string
          description: Price in cents (decimal string). Must be > 0, < 100, multiple of market tick size.
        quantity:
          type: string
          description: Quantity in shares (decimal string). Minimum 5; at most 1 decimal place.
        amount:
          type: string
          description: 'Amount in USD. Long: (price*qty)/100. Short: ((100-price)*qty)/100. Computed if omitted for limit/ioc.'
        is_low_priority:
          type: boolean
          default: false
          description: Low priority / market maker flag.
        signature:
          type: string
          description: 'EIP-712 Order signature. Format: 0x<r><s><v> (132 hex chars), low-s normalized.'
          pattern: ^0x[a-fA-F0-9]{130}$
        type:
          type: string
          enum:
          - limit
          - market
          - ioc
          default: limit
          description: limit = resting order; market = fill at best available; ioc = immediate-or-cancel (fill immediately or cancel remainder).
        timestamp:
          type: integer
          format: int64
          description: Unix timestamp in **seconds** (not milliseconds). Must be within 15 seconds of server time.
        expiration:
          type: integer
          format: int64
          description: Expiration as Unix timestamp in **seconds**. 0 = no expiration (GTC). If > 0 must be > timestamp; values in milliseconds are rejected.
          default: 0
        reduce_only:
          type: boolean
          default: false
        fee_rate_bps:
          type: integer
          description: Fee rate in basis points. Must be 0 (fees not supported).
          default: 0
    OrderBookLevel:
      type: object
      properties:
        price:
          type: string
          description: Price in cents
        size:
          type: string
          description: Size in shares
    CancelOrderResponse:
      type: object
      properties:
        status:
          type: string
          enum:
          - user_cancelled
        order_id:
          type: string
        message:
          type: string
        success:
          type: boolean
    OrderBookResponse:
      type: object
      properties:
        success:
          type: boolean
        bids:
          type: array
          description: Buy orders sorted by price descending
          items:
            $ref: '#/components/schemas/OrderBookLevel'
        asks:
          type: array
          description: Sell orders sorted by price ascending
          items:
            $ref: '#/components/schemas/OrderBookLevel'
    CancelOrderRequest:
      type: object
      required:
      - order_id
      - market_id
      properties:
        order_id:
          type: string
          description: Order ID to cancel
        market_id:
          type: string
          description: Market ID (bytes32 hex). See **Market Discovery** for what market_id is and how to get it (e.g. from GET /api/v1/market-discovery/discover).
          pattern: ^0x[a-fA-F0-9]{64}$
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required or failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ParentMarketIDPath:
      name: parentMarketID
      in: path
      required: true
      description: Parent market ID (bytes32 hex). See **Market Discovery** for what parent_market_id is and how to get it (e.g. from GET /api/v1/market-discovery/discover).
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{64}$
    XWalletAddress:
      name: X-Wallet-Address
      in: header
      required: true
      description: Your EOA wallet address
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
    XProxyAddress:
      name: X-Proxy-Address
      in: header
      required: true
      description: Your proxy wallet address (from login response)
      schema:
        type: string
        pattern: ^0x[a-fA-F0-9]{40}$
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token from login endpoint
